@using MoodSwings.Shared.Models.ViewModels;
@using MoodSwings.Shared.Components.Utilities;

@inject MoodSwings.Shared.Models.ViewModels.SelectCategoryViewModel Model;

<div class="selected-category">
  <p>Selected Category: @Model.SelectedCategory </p>
</div>